.positional-block {
    @apply touch-none;
    @apply relative;
}

.block-drag-preview {
    background-color: gray;
}

.positional-block.editorMode:hover {
    background-color: rgba(128, 128, 128, 0.25);
    @apply outline-1;
    @apply outline-dashed;
    @apply outline-black;
    @apply cursor-move;
}

.hidden {
    display: none;
}

.noSelect {
    @apply select-none;
    @apply pointer-events-none;
}

.resizer {
    z-index: 100;
}

.positional-block.editorMode:hover .resizer,
.resizer:hover  {
    @apply absolute;
    @apply w-4;
    @apply h-4;
    @apply -bottom-2;
    @apply -right-2;
    @apply bg-sky-500;
    @apply cursor-nesw-resize;
    @apply touch-none;
}
