.positional-block {
    touch-action: none;
    position: relative;
}

.block-drag-preview {
    background-color: gray;
}

.positional-block.editorMode:hover {
    background-color: rgba(128, 128, 128, 0.25);
    outline: black dashed 1px;
    cursor: move;
}

.hidden {
    display: none;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently  supported by Chrome, Edge, Opera and Firefox */
    pointer-events: none;
}

.resizer {
    z-index: 100;
}

.positional-block.editorMode:hover .resizer,
.resizer:hover  {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: #0097df;
    cursor: nwse-resize;
    touch-action: none;
}
