.node-text-carousel .dynamic-text {
    border-width: 0;
    border-style: solid;
    border-right-width: 2px;
    animation: blink 1s infinite;
    margin-left: 0.80rem;
}

@keyframes blink {
    0%, 50% {
        border-style: hidden;
    }

    51%, 100% {
        border-style: solid;
    }
}
