.node-text-carousel .dynamic-text {
    @apply border-0;
    @apply border-solid;
    @apply border-r-2;
    animation: blink 1s infinite;
    margin-left: 0.80rem;
}

@keyframes blink {
    0%, 50% {
        border-style: hidden;
    }

    51%, 100% {
        border-style: solid;
    }
}
